<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='./css/util.css'>
  <link rel="stylesheet" href="./css/main.css">
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>Welcome to <%= title %>
      sdfsdfsdf</p>
</body>
<script src="./main_bundle.js"></script>

</html>